<h1>Purchase Order #<%=@purchase_order.id%></h1>
<%Type.all.each do |type|%>
    <%=link_to "Add #{type.name}", type_path(type, purchase_order: @purchase_order.id)%><br>
<%end%>

<%if @purchase_order.line_items != []%>
    <br><br>
    <table class = "po-table">
        <thead>
        <caption></caption>
            <tr>
                <th>Quantity</th>
                <th>Description</th>
                <th>Notes</th>
                <th>Rate</th>
                <th>Line Total</th>
            </tr>
        </thead>
        <body>
            <%@purchase_order.line_items.each do |item|%>
            <tr>
                <td><%=item.quantity%></td>
                <td><%=item.item.color%> <%=item.item.description%></td>
                <td><%=item.notes%></td>
                <td>$<%=item.item.rate%></td>
                <td>$<%=item.line_total%></td>
            </tr>
            <%end%>
        </body>
    </table>
<%end%>