<h1><%=@purchase_order.account.name%></h1>
<h1>Purchase Order #<%=@purchase_order.id%></h1>
<p>Date: <%=@purchase_order.created_at.strftime("%m/%d/%Y")%><br>
    Customer: <%=@purchase_order.customer.name%><br>
    Salesman: <%=@purchase_order.salesman.name%></p>
<h3>Add Item</h3>

<div id="category">
<%Type.all.each do |type|%>
    <%=link_to "#{type.name}", type_path(type, purchase_order: @purchase_order.id)%>
<%end%>
</div>

<%if @purchase_order.line_items != []%>
    <br><br>
    <table class = "po-table">
        <thead>
        <caption></caption>
            <tr>
                <th>Quantity</th>
                <th>Description</th>
                <th>Notes</th>
                <th>Rate</th>
                <th>Line Total</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <body>
            <%@purchase_order.line_items.each do |item|%>
            <tr>
                <td><%=item.quantity%></td>
                <td><%=item.item.color%> <%=item.item.description%></td>
                <td><%=item.notes%></td>
                <td>$<%=item.find_item_price(item.item)%></td>
                <td>$<%=item.line_total%></td>
                <td><%=link_to "Edit", edit_line_item_path(item)%></td>
                <td><%=link_to "Delete", line_item_path(item), :method => 'delete'%></td>
            </tr>
            <%end%>
            <tr class="blank_row" style="height:25px !important">
                <td colspan="7"></td>
            </tr>
                <th>Notes:</th>
                <%=form_for(@purchase_order) do |f|%>
                    <td><%=f.text_area :notes%></td>
                    <td><%=f.submit "Save Notes"%></td>
                <%end%>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </body>
    </table>
<%end%>

