<h1>Add <%=@type.name%> to PO #<%=@line_item.purchase_order_id%></h1>
<%@items.each do |item|%>
    <%=form_for @line_item do |f|%>
        <%=f.label "Quantity"%><%=f.text_field :quantity%><p><%=item.description%></p>
        <%=f.hidden_field :item_id, :value => item.id%>
        <%=f.hidden_field :type_id, :value => @type.id%>
        <%=f.hidden_field :purchase_order_id, :value => @line_item.purchase_order_id%>
        <%=f.submit "Update PO"%>
    <%end%>
<%end%>