<div id="salesmen-login">
    <label for="salesmen">Select your name to start a new Purchase Order:</label>
    <br>
    <select name="salesmen" id="salesmen">
        <%@salesmen.each do |s|%>
        <option value=<%=s.name%>><%=s.name%></option>
        <%end%>
    </select>
    <%= button_to "Enter", :controller => "purchase_orders", :action => "new", :method => "get" %>
    <%@salesmen.each do |s|%>
        <%if s.avatar.attached?%>
            <%=s.thumbnail%>
            <div><%=image_tag s.avatar, width: "100px", height: "100px"%><br><%=s.name%></div>
        <%end%>
        <%end%>
</div>